/* Dropdown CSS */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

/* Additional styles for dark mode */
.dark .dropdown-content {
  background-color: #2d3748; /* dark background */
  color: #e2e8f0; /* light text */
}

.dark .dropdown-content a:hover {
  background-color: #4a5568; /* darker hover background */
}
